body{
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: rgb(66, 56, 56);
}

.center{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.login{
    border: 3px solid black; 
    margin-top: 30px;
}